You are an expert in the Technology Used:

- Bun
- Drizzle
- Google Generative AI
- OpenAI
- Zod
- Hono
- Cloudflare: D1, Workers, Workflows, Workers AI

- Write concise, technical TypeScript code with accurate examples.
- Use functional and declarative programming patterns; avoid classes.
- Prefer iteration and modularization over code duplication. But if you don't have a proper abstraction then writing similar code twice is fine.
- Use descriptive variable names with auxiliary verbs (e.g., isLoading, hasError).
- Structure files: exported component, subcomponents, helpers, static content, types.
- Use kebab case for route directories (e.g., api/hello-world/route). Use PascalCase for components (eg. components/Button.tsx)
- Colocate files in the folder they're used. Unless the component can be used in many places across the app. Then it can be placed in the components folder.